/* ----------- Galaxy S3 & S4 + iPhone 4 & 5 ----------- */
@media (max-width: 320px) {
  body,
  .ionic-body {
    font-size: 14px;
    line-height: 21px;
  }
  .bar .title {
    font-size: 15px;
  }
  .has-subheader {
    top: 86px;
  }
  .tabs-top .tabs {
    height: 44px;
    line-height: 44px;
  }
  .small {
    font-size: 12px !important;
    line-height: 16px;
  }
  .medium {
    font-size: 18px;
    line-height: 20px;
  }
  .large {
    font-size: 160px;
    line-height: 120px;
  }
  .padding-10 {
    padding: 5px !important;
  }
  .padding-15 {
    padding: 10px !important;
  }
  .padding-20 {
    padding: 15px;
  }
  .content-padding {
    padding: 20px !important;
  }
  h4, .h4 {
    font-size: 15px;
  }
  .item-input-wrapper {
    margin-bottom: 10px;
  }
  .item-input-wrapper input {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
  }
  .button {
    font-size: 14px;
    line-height: 42px;
    letter-spacing: 0.1em;
    min-height: 32px;
  }  
  .button.button-block, .button.button-full {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slider-walkthrough .walkthrough-1 .text-wrapper,
  .slider-walkthrough .walkthrough-3 .text-wrapper {
    font-size: 13px;
  }
  .slider-walkthrough .walkthrough-2 .text-wrapper {
    font-size: 15px;
  }
  .intro {
    font-size: 15px;
    line-height: 20px;
  }
  .intro.padding {
    padding: 0px 0px 5px 0px;
  }
  .medium-logo img {
    max-width: 125px;
    margin-top: -5px;
  }
  .small-logo img {
    max-width: 120px;
    margin-top: -5px;
  }
  .slider-slide .banner-box.first .inner {
    padding: 20px;
  }
  .slider-slide .banner-box img {
    margin-bottom: 6px;
    max-width: 125px;
  } 
  .home-container .home-icons div {
    margin-top: 8px;
    line-height: 14px;
    font-size: 11px;
  }
  .home-container .home-icons i {
    padding: 16px;
    font-size: 32px;
  }
  .panic .bar-footer, .panic .bar-header {
    height: 54px;
  }  
  .panic .has-header {
    top: 54px;
  }
  .panic .has-footer {
    bottom: 54px;
  }
  .panic .item-avatar {
    min-height: 78px;
  }
  .panic .item-avatar > img:first-child {
    margin-right: 35px;
  }
  .panic .item h2 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 2px;
  }
  .item {
    padding: 18px;
    font-size: 14px;
  }
  .item.item-bolded {
    padding: 15px;
    font-size: 0.88em;
  }
  .item-icon-left {
    padding-left: 66px !important;
  }
  .item-icon-left .icon:first-child {
    left: 20px;
    font-size: 23px;
  }  
  .item-icon-right .icon.icon-1 {
    right: 91px;
  }
  .item-icon-right .icon.icon-2 {
    right: 51px;
  }
  .menu .bar-footer, .menu .bar-header, 
  .ion-nifty-modal .bar-footer, .ion-nifty-modal .bar-header {
    height: 44px;
  }
  .menu .has-header, 
  .ion-nifty-modal .has-header {
    top: 44px;
  }
  .menu .has-footer, 
  .ion-nifty-modal .has-footer {
    bottom: 44px;
  }
  .menu .bar-header button, .ion-nifty-modal .bar-header button {
    font-size: 24px !important;
    line-height: 24px;
  }
  .menu .bar-header button.close i, .ion-nifty-modal .bar-header button.close i {
    font-size: 18px !important;
  }
  .menu .bar-footer div, .ion-nifty-modal .bar-footer div {
    font-size: 12px !important;
  }
  .menu .item-complex .item-content, .ion-nifty-modal .item-complex .item-content {
    padding: 13px 0px 13px 45px;
  }
  .menu .item-icon-left .icon, .ion-nifty-modal .item-icon-left .icon {
    font-size: 22px;
    left: 0px;
  }
  .item .badge {
    top: 16px;
    right: 22px;
  }
  .badge {
    padding: 3px 6px;
    font-size: 13px;
    line-height: 13px;
  }
  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    max-width: 50px;
    max-height: 50px;
    top: 15px;
    left: 20px;
  }
  .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 90px;
    min-height: 82px;
  }
  .personal .item h2 {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 2px;
  }
  .top-banner {
    height: 200px;
  }
  .top-banner .inner div {
    padding: 20px;
    max-width: 85%;
  }
  .top-banner .inner h1 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .top-banner .inner h2 {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 320px) and (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .slider-slide .banner-box.first .inner {
    padding: 20px;
  }
  .slider-slide .banner-box img {
    margin-bottom: 3px;
    max-width: 140px;
  }
  .slider-slide .banner-box p {
    display: none;
  }
  .home-container > .row {
    -webkit-flex: 1.2;
  }
  .home-container .header {
    -webkit-flex: 1.8 !important;
  }
  .home-container .footer {
    -webkit-flex: 1.3 !important;
  }
  .home-container .home-icons div {
    margin-top: 8px;
    line-height: 14px;
    font-size: 11px;
  }
  .home-container .home-icons i {
    padding: 14px;
    font-size: 30px;
  }

  .twenty-four-btn {
    padding-bottom: 32%;
    width: 32%;
  }
  .twenty-four-btn-content {
    padding: 0.2em;
  }
  .twenty-four-btn-content img {
    height: 80%;
  }
  .menu .item-complex .item-content, .ion-nifty-modal .item-complex .item-content {
    padding: 9px 0px 9px 45px;
  }
  .menu .item-icon-left .icon, .ion-nifty-modal .item-icon-left .icon {
    font-size: 18px;
    left: 0px;
  }
  .item.item-bolded {
    padding: 14px;
  }
}

/* ----------- Galaxy S5 + iPhone 6 ----------- */
@media (min-width: 360px) and (max-width: 375px) {
  body,
  .ionic-body {
    font-size: 14px;
    line-height: 21px;
  }
  .bar .title {
    font-size: 16px;
  }
  .has-subheader {
    top: 90px;
  }
  .tabs-top .tabs {
    height: 48px;
    line-height: 48px;
  }
  .menu .content-padding {
    padding: 10px 30px !important;
  }
  .content-padding {
    padding: 30px !important;
  }
  h4, .h4 {
    font-size: 16px;
  }
  .item-input-wrapper {
    margin-bottom: 12px;
  }
  .button {
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0.1em;
  }  
  .button.button-block, .button.button-full {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .slider-walkthrough .walkthrough-1 .text-wrapper,
  .slider-walkthrough .walkthrough-3 .text-wrapper {
    font-size: 13px;
  }
  .slider-walkthrough .walkthrough-2 .text-wrapper {
    font-size: 15px;
  }
  .intro {
    font-size: 15px;
    line-height: 20px;
  }
  .intro.padding {
    padding: 0px 0px 10px 0px;
  }
  .medium-logo img {
    max-width: 145px;
  }
  .small-logo img {
    max-width: 130px;
  }
  .slider-slide .banner-box.first .inner {
    padding: 20px;
  }
  .slider-slide .banner-box img {
    margin-bottom: 8px;
    max-width: 145px;
  }
  .home-container .home-icons i {
    padding: 18px;
    font-size: 36px;
  }
  .panic .item-avatar {
    min-height: 90px;
  }
  .panic .item-avatar > img:first-child {
    margin-right: 40px;
  }
  .panic .item h2 {
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 3px;
  }
  .item.item-bolded {
    padding: 17px;
    font-size: 0.95em;
  }
  .item-icon-left {
    padding-left: 72px !important;
  }
  .item-icon-left .icon:first-child {
    left: 22px;
    font-size: 26px;
  }
  .menu .item-icon-left .icon, .ion-nifty-modal .item-icon-left .icon {
    font-size: 24px;
    left: 0px;
  }
  .menu .item-complex .item-content, .ion-nifty-modal .item-complex .item-content {
    padding: 15px 0px 15px 55px;
  }
  .item .badge {
    top: 16px;
    right: 22px;
  }
  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    max-width: 60px;
    max-height: 60px;
    top: 15px;
    left: 20px;
  }
  .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 100px;
    min-height: 92px;
  }
  .personal .item h2 {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 7px;
  }
  .top-banner {
    height: 220px;
  }
  .top-banner .inner div {
    padding: 25px;
  }
  .top-banner .inner h1 {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 12px;
  }
  .top-banner .inner h2 {
    font-size: 15px;
  }
}

/* ----------- iPhone 6+ ----------- */
@media (min-width: 376px) and (max-width: 414px) {
  .content-padding {
    padding: 40px !important;
  }
  .item.item-bolded {
    padding: 22px;
    font-size: 0.95em;
  }
  .item-icon-left {
    padding-left: 80px !important;
  }
  .item-icon-left .icon:first-child {
    left: 26px;
    font-size: 32px;
  }
  .menu .item-complex .item-content, .ion-nifty-modal .item-complex .item-content {
    padding: 15px 0px 15px 55px;
  }
  .menu .item-icon-left .icon, .ion-nifty-modal .item-icon-left .icon {
    font-size: 28px;
    left: 0px;
  }
  .item .badge {
    top: 22px;
    right: 26px;
  }
}

/* ----------- Tablets ----------- */
@media (min-width: 768px) and (max-width: 800px)  {
  .slider-slide .banner-box.first .inner {
    padding: 65px;
  }
  .slider-slide .banner-box img {
    margin-bottom: 24px;
    max-width: 300px;
  }
  .slider-slide .banner-box p {
    font-size: 24px;
    line-height: 34px;
  }
  .home-container > .row {
    -webkit-flex: 1;
  }
  .home-container .header {
    -webkit-flex: 2 !important;
  }
  .home-container .footer {
    -webkit-flex: 1.3 !important;
  }
  .home-container .home-icons div {
    margin-top: 18px;
    line-height: 15px;
    font-size: 15px;
  }
  .home-container .home-icons i {
    padding: 28px;
    font-size: 55px;
    line-height: 30px;
  }
  .twenty-four-btn {
    padding-bottom: 32%;
    width: 32%;
  }
}