﻿<ion-view view-title="Accident Assist">
    <ion-content ng-controller="AccidentlistCtrl">
        <div class="top-banner accident-assist bkg-pos-top">
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accidentmain">
                <i class="icon ga-icon-collect-details"></i>
                Collect Incident Details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/howtoincident">
                <i class="icon ga-icon-steps"></i>
                Steps to follow
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
        </div>
        <div class="row text-center padding-20 emergency-container">
            <div class="twenty-four-btn margin-bottom-15">
                <div class="twenty-four-btn-inner">
                    <a class="twenty-four-btn-wrapper" ng-click="openPanic()">
                        <div class="twenty-four-btn-content"><img src="img/24-hour-button.svg"></div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
