﻿<ion-view view-title="Accident Assist">
    <ion-content class="accident-container" ng-controller="AccidentCtrl2">
        <div class="top-banner accident-assist">
        </div>
        <div class="list">
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/accident5">
                <i class="icon icon-circle ga-icon-capture"></i>
                Collect Incident Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/accidentvlist">
                <i class="icon icon-circle ga-icon-vehicle-1"></i>
                Select your Vehicle Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/accident">
                <i class="icon icon-circle ga-icon-driver"></i>
                Collect Driver Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/accident-otherlist">
                <i class="icon icon-circle ga-icon-vehicle-2"></i>
                Collect Other Vehicle Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/eyewitness">
                <i class="icon icon-circle ga-icon-eye-witness"></i>
                Collect Eyewitness Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/towtruck">
                <i class="icon icon-circle ga-icon-towtruck"></i>
                Collect Tow Truck Details
            </a>
            <a class="item item-transparent item-icon-left item-bolded item-icon-circle" href="#/app/accident4">
                <i class="icon icon-circle ga-icon-camera"></i>
                Take Photos
            </a>
        </div>
        <button nav-clear class="button button-block button-colour-primary" ng-controller="AccidentAssistCtrl" ng-click="viewSummary()">
            View Summary
        </button>
        <button nav-clear class="button button-block button-colour-primary" ng-controller="AccidentAssistCtrl" ng-click="submitAccident()">
            Submit
        </button>
    </ion-content>
</ion-view>
