﻿<ion-view view-title="Eyewitness Details">
  <ion-content>
      <div ng-show="loading" class="loading-screen">
        <ion-spinner icon="ios-small"></ion-spinner>
      </div>
      <div class="list light-bg">
          <div class="item item-divider">
              Section
          </div>
          <label class="item item-input">
              <span class="input-label">Label</span>
              <input type="text" class="text-right" placeholder="Placeholder">
          </label>
          <div class="item button">
              <button class="button button-block button-colour-secondary" ng-click="Next()">
                Next
            </button>
        </div>
      </div>
  </ion-content>
  <div class="tabs-striped tabs-colour-secondary">
    <div class="tabs">
      <a class="tab-item disable-user-behavior active" title="Collect indicent details" nav-clear ui-sref="app.accident-step1">
        <i class="icon ga-icon-circle-1"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Collect your vehicle details" nav-clear ui-sref="app.accident-step2">
        <i class="icon ga-icon-circle-2"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Collect driver details" nav-clear ui-sref="app.accident-step3">
        <i class="icon ga-icon-circle-3"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Collect other vehicle details" nav-clear ui-sref="app.accident-step4">
        <i class="icon ga-icon-circle-4"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Collect eyewitness details" nav-clear ui-sref="app.accident-step5">
        <i class="icon ga-icon-circle-5"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Photos" nav-clear ui-sref="app.accident-step6">
        <i class="icon ga-icon-circle-5"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
  </div>
</ion-view>