<ion-view class="lrg-header-footer" view-title="Live Chat">
  <ion-content class="has-footer">
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
    <div class="row padding">
      <div class="col text-center">Waiting for the call center to respond..</div>
    </div>
    <div class="padding-20 padding-top-0 ">
      <div class="clearfix">
        <img src="./img/avatar-agent-orange.jpg" class="chat-avatar">
        <div class="chat-bubble-left">
          <div>
            Good day,<br>You are chatting with Mike Kroger.<br>How may I assist you?
          </div>
        </div>
      </div>
      <div class="chat-time-left">10m</div>
      <div class="clearfix">
        <div class="chat-bubble-right">
          <div>
            Hi. I need to find out about a case I logged last week 
          </div>
        </div>
      </div>
      <div class="chat-time-right">8m</div>
      <div class="clearfix">
        <img src="./img/avatar-agent-orange.jpg" class="chat-avatar">
        <div class="chat-bubble-left">
          <div>
            Can you please provide me with the case reference number
          </div>
        </div>
      </div>
      <div class="chat-time-left">5m</div>
      <div class="clearfix">
        <div class="chat-bubble-right">
          <div>
            Yes, the reference number is 58796
          </div>
        </div>
      </div>
      <div class="chat-time-right">Now</div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" />
    </label>
    <button class="button button-colour-secondary">
      Send
    </button>
  </ion-footer-bar>
  <div class="tabs-striped tabs-colour-secondary">
    <div class="tabs">
      <a class="tab-item disable-user-behavior active" title="Chat" nav-clear ui-sref="app.chat">
        <i class="icon ga-icon-call-centre-chat"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Chat History" nav-clear ui-sref="app.chat-history">
        <i class="icon ga-icon-chat-history"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Unread Messages" nav-clear ui-sref="app.messages-unread">
        <i class="icon ga-icon-messages-unread"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Read Messages" nav-clear ui-sref="app.messages-read">
        <i class="icon ga-icon-messages-read"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
  </div>
</ion-view>
