<ion-view view-title="Roadside Assist">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-primary">
    <div class="tabs">
      <a class="tab-item" href="#/app/emergency-assist-information">
        Information
      </a>
      <a class="tab-item active" href="#/app/emergency-assist-terms">
        Terms
      </a>
    </div>
  </div>
  <ion-content class="has-header has-subheader">
  <div ng-show="loading" class="loading-screen">
    <ion-spinner icon="circles"></ion-spinner>
  </div>
  <div class="content-padding">
      <h4>Terms and Conditions</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
  </ion-content>
</ion-view>
