﻿<script id="templates/error-list.html" type="text/ng-template">
    <div class="form-error" ng-message="required">
        <i class="ion-information-circled"></i>
        This field is required!
    </div>
    <div class="form-error" ng-message="minlength">
        <i class="ion-information-circled"></i>
        Minimum length of this field is 5 characters!
    </div>
    <div class="form-error" ng-message="maxlength">
        <i class="ion-information-circled"></i>
        Maximum length of this field is 20 characters!
    </div>
</script>   