﻿    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Login Help</h1>
        </ion-header-bar>
        <ion-content>
            <p class="padding-20">
                <h2>Login error, please try again....</h2></p>
        </ion-content>
    </ion-modal-view>

