<ion-view view-title="Global App">
  <ion-content class="has-footer" ng-app="globalApp" ng-controller="HomeCtrl" >
	  <section class="home-container"> 
	  	<div class="row header"> 
	  		<div class="col text-center">
					<ion-slide-box on-slide-changed="slideHasChanged($index)" pager-click="navSlide(walkthrough)" auto-play="true" does-continue="true" show-pager="false">
					    <ion-slide ng-repeat="image in myImage">
					        <img ng-src="{{image.banner}}"class="myBanner"/>
					    </ion-slide>
			    </ion-slide-box>
	  		</div> 
	  	</div>
	  	<div class="row icon-row light-bg"> 
	  		<div class="col text-center home-icons">
	        <a href="#/app/emergency-assist"><i class="icon ga-icon-emergency-assist"></i></a>
	        <div>Emergency Assist</div>
	      </div>
	      <div class="col text-center home-icons">
	        <a href="#/app/chat-messages"><i class="icon ga-icon-call-centre-chat"></i></a>
	        <div>Chat & Messages</div>
	      </div>
			  <div class="col text-center home-icons">
	        <a href="#/app/personal"><i class="icon ga-icon-personal"></i></a>
	        <div>Personal </div>
	      </div>
	  	</div>
	  	<div class="row footer"> 
	  		<div class="col text-center padding">
		  		<div class="twenty-four-btn">
					  <div class="twenty-four-btn-inner">
					    <a class="twenty-four-btn-wrapper" ng-click="openPanic()">
					      <div class="twenty-four-btn-content"><img src="img/24-hour-button.svg"></div>
					    </a>
					  </div>
					</div>
	  		</div> 
	  	</div> 
	  </section>
  </ion-content>
  <div class="bar bar-footer bar-clear">
	  <div class="title small grey">An authorized financial service provider FSP #44544</div>
	</div>
</ion-view>