<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-colour-primary" align-title="center">
            <ion-nav-back-button class="button-clear">
                <i class="ion-ios-arrow-left"></i> Back
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="320" class="colour-secondary-bg">
        <ion-header-bar class="bar-colour-secondary">
            <button class="button button-clear button-colour-secondary close" menu-close><i class="ga-icon-close"></i></button>
            <button class="button button-clear button-colour-secondary" ng-click="logout()"><i class="ga-icon-logout"></i></button>
        </ion-header-bar>
        <ion-content class="content-padding" ng-controller="MenuCtrl">
            <ion-list>
                <ion-item menu-close class="item-icon-left" href="#/app/home">
                    <i class="icon ga-icon-home"></i>
                    Home
                </ion-item>
                <ion-item menu-close class="item-icon-left" ng-click="openPanic()" href="#">
                    <i class="icon ga-icon-24-hour-thin"></i>
                    24 Hour Total Care
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/emergency-assist">
                    <i class="icon ga-icon-emergency-assist"></i>
                    Emergency Assist
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/accident-list">
                    <i class="icon ga-icon-towtruck"></i>
                    Accident Assist
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/personal">
                    <i class="icon ga-icon-personal"></i>
                    Personal
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/chat-messages">
                    <i class="icon ga-icon-chat-messages"></i>
                    Chat & Messages
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/about-menu">
                    <i class="icon ga-icon-about"></i>
                    About
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/help">
                    <i class="icon ga-icon-help"></i>
                    Help
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/settings">
                    <i class="icon ga-icon-settings"></i>
                    Settings
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-colour-secondary text-center">
            <div class="center">An authorized financial service provider FSP #44544</div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>