<ion-view view-title="Notifications">
  <ion-content class="has-footer">
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
    <div class="list">
      <a class="item" ng-click="message()">
        <div class="clearfix">
          <h2 class="colour-secondary has-date">Home cover increase</h2>
          <h4 class="chat-date">Oct 22, 2015</h4>
        </div>
       <p>We are proud to announce that we have increased your home cover</p>
      </a>
      <a class="item" ng-click="message()">
        <div class="clearfix">
          <h2 class="colour-secondary has-date">New Service</h2>
          <h4 class="chat-date">Sep 1, 2015</h4>
        </div>
       <p>We have just launched a new service for all our members and their</p>
      </a>
    </div>
  </ion-content>
  <div class="tabs-striped tabs-colour-secondary">
    <div class="tabs">
      <a class="tab-item disable-user-behavior" title="Chat" nav-clear ui-sref="app.chat">
        <i class="icon ga-icon-call-centre-chat"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Chat History" nav-clear ui-sref="app.chat-history">
        <i class="icon ga-icon-chat-history"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Unread Messages" nav-clear ui-sref="app.messages-unread">
        <i class="icon ga-icon-messages-unread"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Read Messages" nav-clear ui-sref="app.messages-read">
        <i class="icon ga-icon-messages-read"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
  </div>
</ion-view>
