﻿<ion-view view-title="Partners">
  <ion-content class="has-footer">
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="circles"></ion-spinner>
    </div>
		<div ng-bind-html="renderHtml(body)"></div>
  </ion-content>
  <div class="tabs-striped tabs-colour-secondary">
    <div class="tabs">
      <a class="tab-item disable-user-behavior" title="About" nav-clear ui-sref="app.about">
        <i class="icon ga-icon-about"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Contact" nav-clear ui-sref="app.contact">
        <i class="icon ga-icon-home-phone"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Branches" nav-clear ui-sref="app.branches">
        <i class="icon ga-icon-branches"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior" title="Services" nav-clear ui-sref="app.services">
        <i class="icon ga-icon-occupation"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <a class="tab-item disable-user-behavior active" title="Partners" nav-clear ui-sref="app.partners">
        <i class="icon ga-icon-partners"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
  </div>
</ion-view>