<ion-view view-title="Personal Details" class="personal-container">
    <ion-content ng-controller="PersonalCtrl">
        <div class="top-banner personal">
        </div>
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>
        <div class="list item-text-wrap personal">
            <div class="item item-divider item-divider-list">
                My Details
            </div>
            <a class="item item-avatar item-icon-right" href="#/app/personal-menu">
                <img src="{{picture}}">
                <h2 class="colour-secondary">{{memberData.name}} {{memberData.surname}}</h2>
                <p>{{thisphone}}</p>
                <i class="icon ga-icon-more"></i>
            </a>
            <div ng-if="isDependant < 1" class="item item-divider">
                My Family
            </div>
            <div ng-if="isDependant < 1" ng-controller="familyCtrl">
                <div ng-if="key2 > 0" ng-repeat="(key, value) in famMem">
                    <a class="item item-avatar item-icon-right" href="#/app/personal-details-fam" ng-click="selectedPersonIdUpdate({{famMem.famserverID[key]}})">
                        <img src="{{famMem.famimage[key]}}">
                        <h2 class="colour-secondary">{{value}}</h2>
                        <p>{{famMem.famcellphone[key]}}</p>
                        <i class="icon ga-icon-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div ng-if="isDependant < 1" class="button button-block button-colour-secondary">
                <a class="item" style="background-color:black" href="#/app/addfamily">
                    <h3 style="color:white">ADD FAMILY MEMBER</h3>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>


