<!--<ion-view view-title="">
<ion-content class="colour-primary-bg menu panic">
    <div ng-show="loading" class="loading-screen">
        <ion-spinner icon="circles"></ion-spinner>
    </div>
    <div class="full-width-height">
        <div class="absolute-center content-padding">
            <ion-list>
                <ion-item menu-close class="item-avatar">
                    <img src="./img/avatar-agent-orange.jpg">
                    <div>
                        <h2 class="colour-secondary">Nick</h2>
                        <p>082 921 4562</p>
                    </div>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/personal-details">
                    <i class="icon ga-icon-personal"></i>
                    Personal Details
                    <i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/drivers-license">
                    <i class="icon ga-icon-drivers-license"></i>
                    Driver's Licenses
                    <i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/vehicle-licenses">
                    <i class="icon ga-icon-vehicle-license"></i>
                    Vehicle Licenses
                    <i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" href="#/app/profile-picture">
                    <i class="icon ga-icon-profile-picture"></i>
                    Profile Picture
                    <i class="icon ion-ios-arrow-right"></i>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
</ion-modal-view>-->

<ion-view view-title="" ng-controller="PersonalMenuCtrl">
    <ion-content class="colour-secondary-bg menu panic">
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>
        <div class="full-width-height">
            <div class="absolute-center content-padding">
                <ion-list>
                    <ion-item menu-close class="item-avatar">
                        <img src="{{picture}}">
                        <div>
                            <h2 class="colour-secondary">{{memberData.name}} {{memberData.surname}}</h2>
                            <p>{{thisphone}}</p>
                        </div>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" href="#/app/personal-detail" >
                        <i class="icon ga-icon-personal"></i>
                        Personal Details
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                    <!-- <ion-item class="item-icon-left item-icon-right" href="#/app/dependants">
                      <i class="icon ga-icon-dependants"></i>
                      Dependants
                      <i class="icon ion-ios-arrow-right"></i>
                    </ion-item> -->
                    <ion-item class="item-icon-left item-icon-right" href="#/app/driversPersonalList">
                        <i class="icon ga-icon-drivers-license"></i>
                        Driver's Licences
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" href="#/app/pvlist">
                        <i class="icon ga-icon-vehicle-license"></i>
                        Vehicle Licences
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                    <!--<ion-item class="item-icon-left item-icon-right" ng-click="gotoHomeLocation()" href="#">
                      <i class="icon ga-icon-location-map"></i>
                      Home Location
                      <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>-->
                    <!--<ion-item class="item-icon-left item-icon-right" href="#/app/profile-picture">
                      <i class="icon ga-icon-profile-picture"></i>
                      Profile Picture
                      <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>-->
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>

