<ion-modal-view class="ion-nifty-modal list-2-items" view-title="">
  <ion-header-bar class="bar-colour-secondary">
    <div class="buttons">
      <button class="button button-clear button-colour-secondary close" ng-click="closeProviders()"><i class="icon ga-icon-close"></i></button>
      <h1 class="title">Service Providers</h1>
    </div>
  </ion-header-bar>
  <div class="ion-modal-content-custom colour-secondary-bg">
    <ion-content class="content-padding padding-top-0">
	    <ion-list>
	      <ion-item menu-close class="item-icon-left item-icon-right" href="#">
	        <i class="icon ga-icon-phone"></i>
	        Nearest Hospital
        	<i class="icon ion-ios-arrow-right grey"></i>
	      </ion-item>
	      <ion-item menu-close class="item-icon-left item-icon-right" href="#">
	        <i class="icon ga-icon-location"></i>
	        Nearest Police Station
        	<i class="icon ion-ios-arrow-right grey"></i>
	      </ion-item>
	    </ion-list>
    </ion-content>
  </div>
</ion-modal-view>