﻿<ion-view view-title="Settings">
    <ion-content ng-app="globalApp" ng-controller="SettingsCtrl">
        <div class="list light-bg">
            <div class="item item-divider">
                Settings
            </div>
            <ul class="list">
                <li class="item item-checkbox" ng-repeat="tag in tags">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="tag.enabled" ng-click="updateAutoLogin(tag.enabled)">
                    </label>
                    <p style="margin-left:110px">{{tag.text}}</p>
                </li>
                <li class="item item-checkbox" ng-repeat="name in clients">
                    <label class="checkbox">
                        <!--<input type="checkbox" ng-model="name.enabled" ng-click="clientSelected(name.enabled);clientNameSelected(name.name)">-->
                        <input type="radio" ng-model="name.enabled" name="name" ng-value="true" ng-click="clientNameSelected(name.name)">
                    </label>
                    <p style="margin-left:110px">{{name.name}}</p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
