﻿<ion-view view-title="Terms &amp; Conditions" ng-controller="TermsCtrl">
    <ion-content>
        <div class="item item-divider text-center">
            <img ng-click="accept()" width="25" height="25" ng-src="./img/Clear-Tick-icon.png" class="vertical-middle"/> &nbsp; Accept the Terms &amp; Conditions
        </div>
        <div class="content-padding">
            Introduction:<br/>
            This End-User Licence Agreement ("Agreement") is between you and Global Choices. The Agreement authorises you to make use the Software specified in clause 1 below, which may be downloaded from a this platform or under the terms and conditions set forth below. This is a licence agreement and not an agreement of sale. Global Choices will own the Software at all times.<br/>
            <br/>
            Read this Agreement carefully before installing, downloading, or using the Software. By clicking on the ["I Accept" button – confirm] while installing, downloading, and/or using the Software, You agree to the terms and conditions of this Agreement. If you do not agree to ALL of the terms and conditions of this Agreement, promptly click the, "I Do Not Accept" button, and cancel the installation or downloading. YOU AGREE THAT YOUR USE OF THE SOFTWARE ACKNOWLEDGES THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT USE THE SOFTWARE.<br/>
            <br/>
            1. SOFTWARE<br/>
            1.1 As used in this Agreement, the term "Software" means, collectively:<br/>
            1.1.1 [Global App – Providing Assistant Services]<br/>
            1.1.2 All the contents of the Software under this Agreement, including the object code form of the Software; and<br/>
            1.1.3 Upgrades, modified versions, updates, additions, and copies of the Software, if any, in respect of which the rights in clause 2 are granted to you under this Agreement.<br/>
            2. RIGHT OF USE<br/>
            2.1 Global Choices gives to you a non-exclusive, non-transferable right to download and install the Software on a single mobile device that you control and to use the Software in object code form.<br/>
            2.2 You (1) accept the right given to you in terms of clause 2.1 above; (2) are authorised only to use the Software for your own needs and shall not abuse it for commercial gain under any circumstances whatsoever; and (3) acknowledge that you obtain no rights of ownership in the Software whatsoever.<br/>
            <br/>
            3. USE OF THE LICENCE<br/>
            3.1 The Software allows you to use benefits as prescribed in your policy wording, access a live view of you policy or request a copy, update your personal details, add details of your family members, collect verified details from the scene of an accident and submit insurance claims, access the contact centre via the Panic Button,<br/>
            <br/>
            3.2 Notwithstanding the capability of the Software detailed in clause 3.1 above, you know, understand and agree that the Software is intended for accessing the Services Programme and providing up to date personal information relating to your relevant policy benefits. All requests logged on the software will remain as a request until processed. You are able to access your requests by logging into www.globalchoices.co.za. Global Choices reserves the right to accept or reject any request or claim submitted by you by means of the Software in its sole and absolute discretion for any reason whatsoever.
            <br/>
            4. RESTRICTIONS ON LICENCE<br/>
            4.1 You shall not<br/>
            4.1.1 Modify, correct any error, defect or operating anomalies or create derivative works based on the Software, nor reverse assemble, decompile or reverse engineer the Software, whether in whole or in part, or otherwise attempt to derive the source code, algorithms, underlying ideas, file formats, programming of the Software or any files contained in or generated by the Software, nor shall you permit, whether directly or indirectly, any third party to do any of the foregoing; or<br/>
            4.1.2 Sell, lease, encumber, sublicense, lend, transfer or assign the Software to any other third party.<br/>
            <br/>
            4.2 You may make one copy of the Software as an archival backup copy, provided your archival backup copy is not used on any other device. You hereby agree to keep such copy under safe custody. No other copies will be made as these are in violation of this Agreement.<br/>
            <br/>
            4.3 You agree that you shall only use the Software in a manner that complies with all applicable laws in the jurisdiction in which you use the Software, including, without limitation, applicable restrictions concerning copyright and other intellectual property rights.<br/>
            <br/>
            5. COMMENCEMENT AND TERMINATION<br/>
            5.1 This Agreement is effective from the first date you download and install the Software. You may terminate this Agreement at any time by permanently deleting, destroying, and returning, at your own costs, the Software, all backup copies, and all related materials provided by Global Choices.<br/>
            <br/>
            5.2 Global Choices may automatically and immediately terminate the licence granted hereunder without notice if you fail to comply with any provision of this Agreement.<br/>
            <br/>
            5.3 Global Choices may, on 30 days’ notice, terminate the licence granted hereunder for any reason.<br/>
            <br/>
            5.4 In the event of termination of this licence for any reason, you must immediately delete, destroy, or return at your own cost, the Software, all backup copies, and all related material to Global Choices.<br/>
            <br/>
            5.5 In no circumstance shall you be entitled to any refund or credit for termination of the licence for any reason.<br/>
            <br/>
            6. INTELLECTUAL PROPERTY RIGHTS<br/>
            6.1 The Software and all rights, including, without limitation, intellectual property rights therein, are owned by Global Choices and/or its licensors and affiliates and are protected by international treaty provisions and all other applicable national laws of the country in which it is being used. You acknowledge that you obtain no intellectual property rights whatsoever in the Software, but merely the use thereof. The structure, organisation, and code of the Software are the valuable trade secrets and confidential information of Global Choices and/or its licensors and affiliates. You must not copy the Software, except as set forth in clause 3. You undertake not to remove, delete or obscure any copyright or proprietary notices or confidentiality notices on or in the Software. Any copies which you are permitted to make pursuant to this Agreement must contain the same copyright and other proprietary notices that appear on the Software.<br/>
            6.2 You will notify Global Choices of any claim which may be made alleging that the Software infringes the intellectual property rights of a third party as soon as you become aware of any such actual or potential claim. You shall immediately bring to the attention of Global Choices any infringement or suspected infringement by any third party of any of the intellectual property rights in the Software of which you are aware and shall at the request and expense of Global Choices take such action or assist Global Choices in taking such action as Global Choices may deem appropriate to protect its intellectual property rights.<br/>
            <br/>
            7. DISCLAIMER<br/>
            7.1 You hereby acknowledge that the software is provided "AS IS" without warranty of any kind, express or implied, statutory or otherwise, and, to the maximum extent allowed by applicable law, neither Global Choices, its licensors or affiliates, nor the copyright holders make any representations or warranties, express or implied, including, without limitation, to the warranties of merchantability or fitness for a particular purpose or that the software will not infringe any third party intellectual property or other rights. The software has not been written to meet your personal requirements and there is no warranty by Global Choices or by any other party that that the functions contained in the software will meet your requirements and there is no warranty that the functions contained within the software will be error free. You assume all responsibility and risk relating to the downloading, installing<br/>
            <br/>
            8. LIMITATION OF LIABILITY<br/>
            8.1 To the maximum extent permitted by applicable law, in no event shall Global Choices, it’s employees or licensors or affiliates be liable for any loss in profits, revenue, data and/or costs of procurement of substitute goods or services, property damage, death, personal injury, interruption of business, loss of business information, or for any special, direct, indirect, incidental, economic, special, punitive, cover or consequential damages, however caused and whether arising under contract, agreement, negligence, gross negligence, or any other theory of liability arising from the use or inability of use of the software, even if Global Choices or its licensors or affiliates are advised of the possibility of such damages. Global Choices will be limited to the full allowable limitations allowed in law within the relevant country.<br/>
            8.2 Nothing contained in this Agreement shall prejudice the statutory rights of any party dealing as a customer/client/consumer.<br/>
            <br/>
            9. SUPPORT<br/>
            9.1 Global Choices will be under no obligation to provide any maintenance or support, including, without limitation, the correction or provision of errors, bugs, viruses, upgrades or enhancements, with regard to the Software.<br/>
            <br/>
            10. NO OTHER OBLIGATIONS<br/>
            10.1 This Agreement creates no obligations on the part of Global Choices other than as specifically set forth herein.<br/>
            <br/>
            11. NOTICES<br/>
            11.1 All notices and return of the Software and Documentation should be delivered to:<br/>
            Global Choices.<br/>
            <br/>
            12. DISPUTE RESOLUTION AND GOVERNING LAW<br/>
            12.1 This Agreement will be governed, construed and take effect in all respects in accordance with the laws of the Republic of South Africa.<br/>
            12.2 Any dispute relating in any way to your use of the Software shall be submitted to confidential arbitration to be held in Johannesburg, South Africa under the rules of the Arbitration Foundation of Southern Africa (or its successor in title), to which arbitration you hereby consent; except that, to the extent you have in any manner violated or threatened to violate Global Choices ' intellectual property rights, Global Choices may seek interdictory, injunctive or other appropriate relief in any applicable court in the Republic of South Africa, and you consent to exclusive jurisdiction and venue of such courts. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to the Agreement, whether through class arbitration proceedings or otherwise.<br/>
            <br/>
            13. CHANGES TO AGREEMENT<br/>
            13.1 Global Choices reserves the right to change any of the terms and conditions contained in this Agreement at any time and in its sole discretion. When we make changes, we will revise the "Last Updated" date at the top of this Agreement. Any changes will be effective immediately upon posting on Global Choices’ Web site. Your continued use of the Software following the posting of changes will constitute your acceptance of such changes. You undertake to review this Agreement whenever you visit Global Choices’ Web site.<br/>
            <br/>
            14. GENERAL<br/>
            14.1 This Agreement (as varied from time to time in accordance with clause 13 above) constitutes the sole record of the agreement between you and Global Choices in relation to your use of the Software and it supersedes any prior representations, discussions, undertakings, end-user agreements, communications, or advertising, whether oral or written, relating to the Software. Neither you nor Global Choices shall be bound by any express, tacit or implied representation, warranty, promise or the like not recorded herein. Failure or neglect by Global Choices to enforce at any time any of the provisions of this Agreement shall not be construed as a waiver of its rights. Any waiver of any provision of this Agreement will be effective only if in writing and signed by Global Choices.<br/>
            14.2 If any clause in this Agreement is found to be unenforceable, wherever possible this will not affect any other clause and each will remain in full force and effect.<br/>
            14.3 Any rights not expressly granted herein are reserved.
            <br/>
            <br/>


            <!--<button nav-clear class="button button-block button-colour-primary" ng-click="Accept()">
                Accept
            </button>
            <button nav-clear class="button button-block button-colour-primary" ng-click="Decline()">
                Decline
            </button>-->
        </div>
    </ion-content>
    <div class="tabs tabs-icon-left tabs-secondary">
        <a class="tab-item" ng-click="rejectTerms()">
            <i class="icon ion-close-circled"></i>
            Decline
        </a>
        <a class="tab-item" ng-click="acceptTerms()">
            <i class="icon ion-checkmark-circled"></i>
            Accept
        </a>
    </div>
    </ion-view>