<ion-view view-title="CK24WKGP">
  <ion-content>
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
    <div class="list item-text-wrap light-bg">
      <div class="item row padding-10">
        <div class="col colour-secondary">Control Number</div>
        <div class="col text-right">789456123</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">License Number</div>
        <div class="col text-right">CK24WKGP</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Register Number</div>
        <div class="col text-right">789456123</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Vehicle Description</div>
        <div class="col text-right">Focus 1.5 Ecoboost Trend 5-dr MY 15</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Vehice Make</div>
        <div class="col text-right">Ford</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Series Name</div>
        <div class="col text-right">Focus</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Vehicle Colour</div>
        <div class="col text-right">Standard Silver</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Vin Number</div>
        <div class="col text-right">789456123</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Engine Number</div>
        <div class="col text-right">789456123</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Expiry Date</div>
        <div class="col text-right">20/10/2016</div>
      </div>
      <div class="item row padding-10">
        <div class="col colour-secondary">Vehicle Year</div>
        <div class="col text-right">2015</div>
      </div>
    </div>
  </ion-content>
</ion-view>
