<ion-view view-title="About">
  <ion-content class="has-footer">
    <div class="top-banner about">
    </div>
    <div class="list">
      <a class="item item-icon-left item-bolded" href="#/app/about">
        <i class="icon ga-icon-about"></i>
        About Us
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/contact">
        <i class="icon ga-icon-home-phone"></i>
        Contact Information
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/branches">
        <i class="icon ga-icon-branches"></i>
        Our Branches
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/services">
        <i class="icon ga-icon-occupation"></i>
        Services we Offer
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/partners">
        <i class="icon ga-icon-partners"></i>
        Partners
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/partner-details">
        <i class=""></i>
        Partner Details
      </a>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-clear">
    <div class="title small grey">An authorized financial service provider FSP #44544</div>
  </div>
</ion-view>