﻿<ion-view view-title="Accident Assist">
    <ion-content>
    <div class="top-banner accident-assist bkg-pos-top">
    </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step1">
                <i class="icon ga-icon-circle-1"></i>
                Collect indicent details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step2">
                <i class="icon ga-icon-circle-2"></i>
                Collect your vehicle details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step3">
                <i class="icon ga-icon-circle-3"></i>
                Collect driver details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step4">
                <i class="icon ga-icon-circle-4"></i>
                Collect other vehicle details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step5">
                <i class="icon ga-icon-circle-5"></i>
                Collect eyewitness details
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
            <a class="item item-icon-left item-icon-right item-bolded" href="#/app/accident-step6">
                <i class="icon ga-icon-circle-6"></i>
                Photos
                <i class="icon ion-ios-arrow-right grey"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
