<ion-view view-title="Global App">
    <ion-nav-bar class="bar-colour-primary">
        <ion-nav-back-button class="button-clear">
            <i class="ion-ios-arrow-left"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-primary">
        <div class="tabs">
            <a class="tab-item" href="#/login">
                Login
            </a>
            <a class="tab-item active" href="#/activate">
                Activate
            </a>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>
        <div class="padding-15">
            <div class="light-bg padding-15">
                <div class="padding text-center">
                    <div class="small-logo"><img src="./img/logo-dark.png"></div>
                    <p class="intro padding">Enter your cell number, password and activation code to have your account activated.</p>
                </div>
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="Cell Number" ng-model="user.cell">
                </label>
                <label class="item-input-wrapper">
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
                <label class="item-input-wrapper">
                    <input type="tel" placeholder="Activation Code" ng-model="user.activation">
                </label>
            </div>
            <button nav-clear class="button button-block button-colour-secondary" ng-click="activate(user)">
                Activate your Account
            </button>
        </div>
    </ion-content>
</ion-view>