<ion-view view-title="Chat & Messages">
  <ion-content class="has-footer">
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
  	<div class="top-banner chat-messages">
  		<div class="overlay">
  			<div class="inner">
  				<div>
  					<h1>No matter what people tell you, words and ideas can change the world.</h1>
  					<h2 class="colour-secondary">Robin Williams</h2>
  				</div>
  			</div>
  		</div>
  	</div>
    <div class="list">
      <a class="item item-icon-left item-bolded" href="#/app/chat">
      	<i class="icon ga-icon-call-centre-chat"></i>
        Live Chat with Case Manager
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/chat-history">
      	<i class="icon ga-icon-chat-history"></i>
        Live Chat History
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/messages-unread">
      	<i class="icon ga-icon-messages-unread"></i>
        Notifications
        <span class="badge badge-colour-secondary">2</span>
      </a>
      <a class="item item-icon-left item-bolded" href="#/app/messages-read">
      	<i class="icon ga-icon-messages-read"></i>
        Notifications History
      </a>
    </div>
  </ion-content>
</ion-view>
