<ion-view view-title="Driver's License">
  <ion-content>
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
    <div class="list item-text-wrap light-bg">
      <label class="item item-input">
          <span class="input-label">Id Number</span>
          <input type="text" class="text-right" placeholder="ID Number">
      </label>
      <label class="item item-input">
          <span class="input-label">Surname</span>
          <input type="text" class="text-right" placeholder="Surname">
      </label>
      <label class="item item-input">
          <span class="input-label">Initials</span>
          <input type="text" class="text-right" placeholder="Initials">
      </label>
      <label class="item item-input">
          <span class="input-label">Gender</span>
          <input type="text" class="text-right" placeholder="Gender">
      </label>
      <label class="item item-input">
          <span class="input-label">Driver Restrictions 1</span>
          <input type="text" class="text-right" placeholder="Driver Restrictions 1">
      </label>
      <label class="item item-input">
          <span class="input-label">Driver Restrictions 2</span>
          <input type="text" class="text-right" placeholder="Driver Restrictions 2">
      </label>
      <label class="item item-input">
          <span class="input-label">Date Of Birth</span>
          <input type="text" class="text-right" placeholder="Date Of Birth">
      </label>
      <label class="item item-input">
          <span class="input-label">Certificate Number</span>
          <input type="text" class="text-right" placeholder="Certificate Number">
      </label>
      <label class="item item-input">
          <span class="input-label">Country Of Issue</span>
          <input type="text" class="text-right" placeholder="Country Of Issue">
      </label>
      <label class="item item-input">
          <span class="input-label">Issue Number</span>
          <input type="text" class="text-right" placeholder="Issue Number">
      </label>
      <label class="item item-input">
          <span class="input-label">Valid From</span>
          <input type="text" class="text-right" placeholder="Valid From">
      </label>
      <label class="item item-input">
          <span class="input-label">Valid To</span>
          <input type="text" class="text-right" placeholder="Valid To">
      </label>
      <label class="item item-input">
          <span class="input-label">Class 1 Code</span>
          <input type="text" class="text-right" placeholder="Class 1 Code">
      </label>
      <label class="item item-input">
          <span class="input-label">Class 1 Issue Date</span>
          <input type="text" class="text-right" placeholder="Class 1 Issue Date">
      </label>
    </div>
    <!--
    IF NO RECORDS EXIST
    <div class="full-width-height">
      <div class="absolute-center text-center content-padding">
        <p>No driver's licenses have been added.</p>
        <p class="padding">
          <button class="button button-colour-secondary">Scan your Driver's License</button>
        </p>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
