<ion-view view-title="Emergency Assist">
  <ion-content>
    <div class="row text-center padding total-care-bkg">
      <div class="twenty-four-btn margin-bottom-15">
        <div class="twenty-four-btn-inner">
          <a class="twenty-four-btn-wrapper" ng-click="openPanic()">
            <div class="twenty-four-btn-content"><img src="img/24-hour-button.svg"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
      	<i class="icon ga-icon-towtruck"></i>
        Roadside & Accident Assist
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
        <i class="icon ga-icon-chauffeur-beer"></i>
        Home Safe Chauffeur
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
        <i class="icon ga-icon-concierge-tree"></i>
        Concierge
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
        <i class="icon ga-icon-medical"></i>
        Emergency Medical Assistance
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
        <i class="icon ga-icon-legal"></i>
        Legal Assist
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" href="#/app/emergency-assist-information">
        <i class="icon ga-icon-crime"></i>
        Crime Assist
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a class="item item-icon-left item-icon-right item-bolded" ng-click="openProviders(slide-in-up)">
        <i class="icon ga-icon-service-providers-store"></i>
        Service Providers
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
