<div class="form-error" ng-message="required">This field is required.</div>
<div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
<div class="form-error" ng-message="maxlength">This field is must be less than 10 characters.</div>
<div class="form-error" ng-message="email">Invalid email address.</div>
<div class="form-error" ng-message="compareTo">Must match the previous entry.</div>
