<ion-view view-title="How To Guide">
  <ion-content class="has-footer">
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="circles"></ion-spinner>
    </div>
    <div ng-bind-html="renderHtml(body)"></div>
  </ion-content>
	<div class="bar bar-footer bar-colour-secondary">
		<div class="row">
      <div class="col">
      	<button class="button button-colour-secondary" ng-click=""><i class="icon ion-arrow-left-c"></i></button>
      </div>
      <div class="col text-right">
      	<button class="button button-colour-secondary" ng-click=""><i class="icon ion-arrow-right-c"></i></button>
      </div>
		</div>
	</div>
</ion-view>