<ion-view view-title="Global App">
    <ion-nav-bar class="bar-colour-primary">
        <ion-nav-back-button class="button-clear">
            <i class="ion-ios-arrow-left"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-primary">
        <div class="tabs">
            <a class="tab-item active" href="#/login">
                Login
            </a>
            <a class="tab-item" href="#/activate"ng-controller="LoginCtrl" >
                Activate
            </a>
        </div>
    </div>
    <ion-content class="has-header has-subheader">
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>
        <form name="loginForm" novalidate="" >
            <div class="padding-15">
                <div class="light-bg padding-15">
                    <div class="padding text-center">
                        <div class="medium-logo"><img src="./img/logo-dark.png"></div>
                        <p class="intro padding">Login with your personal details to bring you closer to our world of benefits</p>
                    </div>
                    <label class="item-input-wrapper">
                        <input type="tel" placeholder="Cell Number"name="cell" ng-model="user.cell" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"required>
                    </label>

                    <div class="form-errors" ng-messages="loginForm.cell.$error"
                         ng-if="submitted">
                        <div class="form-error text-center" ng-message="required">Cell No is required</div>
                        <div class="form-error text-center" ng-message="pattern">Must be a valid 10 digit phone number</div>
                    </div>

                    <label class="item-input-wrapper">
                        <input type="password" autocorrect="off" autocapitalize="none" placeholder="Password"name="password" ng-model="user.pass" required/>
                    </label>

                    <div class="form-errors" ng-messages="loginForm.password.$error"
                         ng-if="submitted">
                        <div class="form-error text-center" ng-message="required"> Password is required</div>
                    </div>
                </div>
                <button nav-clear class="button button-block button-colour-secondary" ng-click="LogIn(user)">
                    Log In
                </button>
                <button nav-clear class="button button-block button-colour-primary" ng-click="Forgot()">
                    Forgot Password
                </button>
                <p class="grey text-center">Account not active? Please <a href="#/activate" class="colour-secondary">Activate your Account</a></p>
            </div>
        </form>
    </ion-content>
</ion-view>