<ion-modal-view class="menu panic" view-title="">
    <ion-header-bar class="bar-colour-secondary">
        <div class="buttons">
            <button class="button button-clear button-colour-secondary close" ng-click="closePanic()"><i class="icon ga-icon-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="colour-secondary-bg" ng-app="globalApp" ng-controller="prodCtrl">
        <div class="full-width-height">
            <div class="absolute-center content-padding">
                <p>
                    Here is a list of your 24hour Total Care services, select an option that best describes your emergency and a case manager will be in contact with you!
                </p>
                <ion-list>
                    <ion-item menu-close class="item-icon-left item-icon-right" href="#" ng-click="selectedIdUpdate(name)" ng-repeat="name in productData">
                        <i class="icon {{name.icon}}"></i>
                        <p style="margin-left:10px">{{name.name}}</p>
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
