<ion-modal-view class="menu panic" view-title="" ng-controller="SendPanicCtrl">
    <ion-header-bar class="bar-colour-panic">
        <div class="buttons">
            <button class="button button-clear button-colour-primary panic-bg close" ng-click="closeCountdown()"><i class="icon ga-icon-close"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="panic-bg">
        <div class="full-width-height">
            <div class="absolute-center text-center content-padding">
                <p class="intro">Time remaining before your request<br> for 24hour Total Care is sent:</p>
                <p class="large assertive">{{counter}}</p>
                <p class="medium assertive">seconds</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-colour-panic text-center">
        <button class="button button-full button-colour-primary" ng-click="cancel()">
            Cancel Request
        </button>
    </ion-footer-bar>
</ion-modal-view>
