<ion-view view-title="Personal Details" ng-controller="PersonalDetailCtrl">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>

        <ion-slide-box on-slide-changed="slideHasChanged($index)" pager-click="navSlide(personal-details)">
            <ion-slide>
                <div class="banner-box-personal">
                    <div class="inner">
                        <img ng-src="{{picture}}" class="avatar" ng-click="takePicture()">
                        <p>Select above to capture profile image.Then press the update button below.</p>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="banner-box-personal">
                    <div class="inner">
                        <div class="inner-box">
                            <p>All policy benefits are for the whole family - please add your family members to ensure they are also able to make use of the benefits.</p>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

        <form name="personalDetailsForm" novalidate="">
            <div class="list">
                <div class="item item-divider">
                    General
                </div>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" class="text-right" ng-model="memberData.name" name="name" ng-minlength="2" ng-maxlength="100" placeholder="Name" required>
                </label>
                <div ng-messages="personalDetailsForm.name.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="required">Name field is required</div>
                    <div class="form-error text-center" ng-message="minlength">Name must be larger than 2 characters</div>
                    <div class="form-error text-center" ng-message="maxlength">Name must be smaller than 101 characters</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" class="text-right" ng-model="memberData.surname" name="surname" placeholder="Surname" ng-minlength="2" ng-maxlength="100" required>
                </label>
                <div ng-messages="personalDetailsForm.surname.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="required">Surname field is required</div>
                    <div class="form-error text-center" ng-message="minlength">Surname must be larger than 2 characters</div>
                    <div class="form-error text-center" ng-message="maxlength">Surname must be smaller than 101 characters</div>
                </div>
                <label class="item item-input item-select">
                    <span class="input-label">Gender</span>
                    <select ng-options="o.name for o in genders" ng-model="memberData.gender"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" class="text-right" ng-model="memberData.emailAddress" name="email" ng-maxlength="100" placeholder="Email Address">
                </label>
                <div ng-messages="personalDetailsForm.email.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="required">Email field is required</div>
                    <div class="form-error text-center" ng-message="email">Your email address is invalid</div>
                    <div class="form-error text-center" ng-message="maxlength">Email Address must be smaller than 101 characters</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Cellphone</span>
                    <input type="tel" class="text-right" ng-readonly="true" name="cellPhone" ng-model="cellPhone" placeholder="Cell Phone" readonly
                           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
                </label>
                <div ng-messages="personalDetailsForm.cellPhone.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="required">Cell Phone Number is required</div>
                    <div class="form-error text-center" ng-message="pattern">Must be a valid 10 digit phone number</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Work Phone</span>
                    <input type="tel" class="text-right" ng-model="memberData.workPhoneNumber" name="workPhoneNumber" ng-maxlength="15" placeholder="Work Phone"
                           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                </label>
                <div ng-messages="personalDetailsForm.workPhoneNumber.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="pattern">Must be a valid 10 digit phone number</div>
                    <div class="form-error text-center" ng-message="maxlength">Work Phone Number must be smaller than 16 characters</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Home Phone</span>
                    <input type="tel" class="text-right" ng-model="memberData.homePhoneNumber" name="homePhoneNumber" placeholder="Home Phone"
                           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                </label>
                <div ng-messages="personalDetailsForm.homePhoneNumber.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="pattern">Must be a valid 10 digit phone number</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Birthday</span>
                    <input type="date" class="text-right" ng-model="user.birthday" name="date" value={{date}} placeholder="Date of Birth" required> <!--date-format="yyyy/MM/dd"--> 
                </label>
                <div ng-messages="personalDetailsForm.date.$error" ng-if="submitted">
                    <div class="form-error text-center" ng-message="required">Birth Date is required</div>
                </div>
                <label class="item item-input">
                    <span class="input-label">Occupation</span>
                    <input type="text" class="text-right" ng-model="memberData.occupation" placeholder="Occupation">
                </label>
                <label class="item item-input">
                    <span class="input-label">Business</span>
                    <input type="text" class="text-right" ng-model="memberData.businessName" placeholder="Business Name">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">ID Type</span>
                    <select ng-options="o.name for o in idTypes" ng-model="memberData.idType" name="idType"></select>
                </label>
                <label class="item item-input">
                    <span class="input-label">ID Number</span>
                    <input type="text" class="text-right" name="idNumber" ng-model="memberData.idNumber" placeholder="ID Number/Passport" ng-minlength="13" required>
                </label>
                <div class="form-errors" ng-messages="personalDetailsForm.idNumber.$error" ng-if="memberData.idType.name == 'SA ID' &&  submitted">
                    <div class="form-error text-center" ng-message="required">Id Number is required</div>
                    <div class="form-error text-center" ng-message="minlength">Id Number must be equal or larger than 13 characters</div>
                   
                </div>
                <div class="form-errors" ng-messages="personalDetailsForm.idNumber.$error" ng-if="memberData.idType.name == 'Passport' &&  submitted">
                    <div class="form-error text-center" ng-message="required">Passport Number is required</div>
                    <div class="form-error text-center" ng-message="minlength">Passport Number must be equal or larger than 13 characters</div>
                </div>
                <div class="item item-divider">
                    Medical
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Medical Aid Name</span>
                    <textarea ng-model="memberData.medicalAidName" placeholder="Medical Aid" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Medical Aid Number</span>
                    <textarea ng-model="memberData.medicalAidNumber" placeholder="Medical Aid #" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Medical Aid Scheme</span>
                    <textarea ng-model="memberData.medicalAidScheme" placeholder="Medical Aid Scheme" class="rows3"></textarea>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Blood Type</span>
                    <select ng-options="o.name for o in bloodGroups " ng-model="memberData.bloodType"></select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Blood Donor #</span>
                    <textarea ng-model="memberData.bloodDonorNumber" placeholder="Blood Donor #" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Allergies and other info</span>
                    <textarea ng-model="memberData.allergies" placeholder="Allergies etc" class="rows3"></textarea>
                </label>
                <div class="item item-divider">
                    Emergency Contacts
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Person 1</span>
                    <textarea ng-model="memberData.emergencyContactName1" placeholder="Contact Person 1" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Number 1</span>
                    <textarea ng-model="memberData.emergencyContactNumber1" placeholder="Contact Number 1" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Person 2</span>
                    <textarea ng-model="memberData.emergencyContactName2" placeholder="Contact Person 2" class="rows3"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contact Number 2</span>
                    <textarea ng-model="memberData.emergencyContactNumber2" placeholder="Contact Number 2" class="rows3"></textarea>
                </label>
            </div>
            <div class="padding">
                <button nav-clear class="button button-block button-colour-primary" ng-click="updatePersonal(memberData)">
                    Update Profile
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>


