﻿<ion-view view-title="Profile Picture">
    <ion-content>
        <div ng-show="loading" class="loading-screen">
          <ion-spinner icon="circles"></ion-spinner>
        </div>
    </ion-content>
</ion-view>