<ion-view view-title="Vehicle Licenses">
  <ion-content>
    <div ng-show="loading" class="loading-screen">
      <ion-spinner icon="ios-small"></ion-spinner>
    </div>
    <div class="list item-text-wrap">
      <a class="item item-icon-left item-icon-right" href="#/app/vehicle-license-detail">
        <i class="icon ga-icon-vehicle-license"></i>
        <h2>CK24WKGP</h2>
        <p>Land Rover</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/vehicle-license-detail">
        <i class="icon ga-icon-vehicle-license"></i>
        <h2>DX56LKGP</h2>
        <p>Ford</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/vehicle-license-detail">
        <i class="icon ga-icon-vehicle-license"></i>
        <h2>TLF134GP</h2>
        <p>Golf</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item button">
        <button class="button button-block button-colour-secondary">
          Scan your Vehicle License
        </button>
      </div>
    </div>
    <!--
    IF NO RECORDS EXIST
    <div class="full-width-height">
      <div class="absolute-center text-center content-padding">
        <p>No vehicle licenses have been added.</p>
        <p class="padding">
          <button class="button button-colour-secondary">Scan a Vehicle License</button>
        </p>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
