<ion-view>
    <ion-content>
        <div ng-show="loading" class="loading-screen">
            <ion-spinner icon="circles"></ion-spinner>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" pager-click="navSlide(walkthrough)" auto-play="true" does-continue="true" class="slider-walkthrough" show-pager="true">
            <ion-slide>
                <div class="walkthrough-1">
                    <div class="button-wrapper">
                        <div class="row">
                            <div class="col">
                                <button nav-clear class="button button-block button-colour-secondary" ng-click="Login()">
                                    Log In
                                </button>
                            </div>
                            <div class="col">
                                <button nav-clear class="button button-block button-colour-primary" ng-click="Activate()">
                                    Activate
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        By joining you agree to our Terms and Privacy Policy.
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="walkthrough-2">
                    <div class="button-wrapper">
                        <div class="row">
                            <div class="col">
                                <button nav-clear class="button button-block button-colour-secondary button-reverse" ng-click="Login()">
                                    Let's Start
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        Already have an account? <a href="#/login">Sign In</a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="walkthrough-3">
                    <div class="button-wrapper">
                        <div class="row">
                            <div class="col">
                                <button nav-clear class="button button-block button-colour-secondary" ng-click="Login()">
                                    Skip
                                </button>
                                <div class="text-wrapper">
                                    By joining you agree to our <a href="">Terms</a> and <a href="">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
