@charset "UTF-8";

@font-face {
  font-family: "globalapp";
  src:url("fonts/globalapp.eot");
  src:url("fonts/globalapp.eot?#iefix") format("embedded-opentype"),
    url("fonts/globalapp.woff") format("woff"),
    url("fonts/globalapp.ttf") format("truetype"),
    url("fonts/globalapp.svg#globalapp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "globalapp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ga-icon-"]:before,
[class*=" ga-icon-"]:before {
  font-family: "globalapp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ga-icon-phone:before {
  content: "\61";
}
.ga-icon-messages-unread:before {
  content: "\62";
}
.ga-icon-messages-read:before {
  content: "\63";
}
.ga-icon-chat-history:before {
  content: "\64";
}
.ga-icon-call-centre-chat:before {
  content: "\65";
}
.ga-icon-date-time:before {
  content: "\66";
}
.ga-icon-mobile:before {
  content: "\67";
}
.ga-icon-personal:before {
  content: "\68";
}
.ga-icon-home:before {
  content: "\69";
}
.ga-icon-logout:before {
  content: "\6a";
}
.ga-icon-policy:before {
  content: "\6b";
}
.ga-icon-emergency-assist:before {
  content: "\6c";
}
.ga-icon-birthday:before {
  content: "\6d";
}
.ga-icon-help:before {
  content: "\6e";
}
.ga-icon-settings:before {
  content: "\6f";
}
.ga-icon-chat-messages:before {
  content: "\70";
}
.ga-icon-close:before {
  content: "\71";
}
.ga-icon-crime:before {
  content: "\72";
}
.ga-icon-chauffeur-key:before {
  content: "\73";
}
.ga-icon-chauffeur-beer:before {
  content: "\74";
}
.ga-icon-chauffeur-wine:before {
  content: "\75";
}
.ga-icon-legal:before {
  content: "\76";
}
.ga-icon-medical:before {
  content: "\77";
}
.ga-icon-concierge-booking:before {
  content: "\78";
}
.ga-icon-concierge-luggage:before {
  content: "\79";
}
.ga-icon-concierge-tan:before {
  content: "\7a";
}
.ga-icon-concierge-tree:before {
  content: "\41";
}
.ga-icon-new:before {
  content: "\42";
}
.ga-icon-legal-hammer:before {
  content: "\43";
}
.ga-icon-legal-building:before {
  content: "\44";
}
.ga-icon-service-providers-store:before {
  content: "\45";
}
.ga-icon-service-providers-sign:before {
  content: "\46";
}
.ga-icon-ambulance:before {
  content: "\47";
}
.ga-icon-24-hour:before {
  content: "\48";
}
.ga-icon-about:before {
  content: "\49";
}
.ga-icon-24-hour-thin:before {
  content: "\4a";
}
.ga-icon-location:before {
  content: "\4b";
}
.ga-icon-location-map:before {
  content: "\4c";
}
.ga-icon-location-pin:before {
  content: "\4d";
}
.ga-icon-directions:before {
  content: "\4e";
}
.ga-icon-map:before {
  content: "\4f";
}
.ga-icon-map-location:before {
  content: "\50";
}
.ga-icon-map-location-round:before {
  content: "\51";
}
.ga-icon-search:before {
  content: "\52";
}
.ga-icon-help-question:before {
  content: "\53";
}
.ga-icon-dependants:before {
  content: "\54";
}
.ga-icon-drivers-license:before {
  content: "\55";
}
.ga-icon-vehicle-license:before {
  content: "\56";
}
.ga-icon-profile-picture:before {
  content: "\57";
}
.ga-icon-camera:before {
  content: "\58";
}
.ga-icon-more:before {
  content: "\59";
}
.ga-icon-language:before {
  content: "\5a";
}
.ga-icon-occupation:before {
  content: "\30";
}
.ga-icon-nationality:before {
  content: "\31";
}
.ga-icon-id:before {
  content: "\32";
}
.ga-icon-details:before {
  content: "\33";
}
.ga-icon-home-phone:before {
  content: "\34";
}
.ga-icon-gender:before {
  content: "\35";
}
.ga-icon-business:before {
  content: "\36";
}
.ga-icon-globe:before {
  content: "\37";
}
.ga-icon-branches:before {
  content: "\38";
}
.ga-icon-towtruck:before {
  content: "\39";
}
.ga-icon-24-hour-press:before {
  content: "\21";
}
.ga-icon-howtoguide:before {
  content: "\22";
}
.ga-icon-capture:before {
  content: "\23";
}
.ga-icon-roadworks:before {
  content: "\24";
}
.ga-icon-eye-witness:before {
  content: "\25";
}
.ga-icon-eye-witness-glasses:before {
  content: "\26";
}
.ga-icon-driver:before {
  content: "\27";
}
.ga-icon-vehicle-1:before {
  content: "\28";
}
.ga-icon-vehicle-2:before {
  content: "\29";
}
.ga-icon-breakdown:before {
  content: "\2a";
}
.ga-icon-partners:before {
  content: "\2b";
}
.ga-icon-circle-1:before {
  content: "\2c";
}
.ga-icon-circle-2:before {
  content: "\2d";
}
.ga-icon-circle-3:before {
  content: "\2e";
}
.ga-icon-circle-4:before {
  content: "\2f";
}
.ga-icon-circle-5:before {
  content: "\3a";
}
.ga-icon-circle-6:before {
  content: "\3b";
}
