html,body {
  height:100%;
}
body,
.ionic-body {
  font-size: 14px;
  font-family: "robotoregular";
  line-height: 22px;
  color: #333;
}

.align-right {
    position: absolute;
    margin-right:2px;
    width: 200px;
}

.padding-0 {
  padding: 0px;
}
.padding-10 {
  padding: 10px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}
.content-padding {
  padding: 50px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.bkg-pos-top {
  background-position: top center !important;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.left {
  float: left;
}
.right {
  float: right;
}

.form-links {
  margin: 5px 10px;
  display: inline-block;
}

.form-links i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #505153;
  font-family: "robotobold";
  line-height: 1.2;
}
h4, .h4 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.4;
  margin-top: 0px;
}
.fs18 {
  font-size: 18px !important;
}

.intro {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 22px;
}

.large {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 260px;
  line-height: 210px;
  font-family: "robotobold";
}
.medium {
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 34px;
  font-family: "robotomedium";
  text-transform: uppercase;
}
.small {
  font-size: 14px !important;
  line-height: 18px;
}
.bold {
  font-family: "robotobold";
}
.icon-large {
  font-size: 60px;
  line-height: 60px;
}

.center {
  margin: auto;
}
.absolute-center {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: calc(50% - 44px); left: 0; bottom: 0; right: 0;
}
.full-width-height {
  width: 100%;
  height: 100%;
  position: relative;
}

.grey {
  color: #9d9d9d !important;
}
.white {
  color: #fff !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.10); 
  width: 100%;
  height: 100%;
}

.tabs-top .tabs {
  height: 54px;
  line-height: 54px;
}
.tabs-top .tab-item {
  max-width: none;
  text-transform: uppercase;
  font-family: robotobold;
  letter-spacing: 0.05em;
}
.tabs-striped .tabs {
  background-color: #EEEEEE;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
  border-width: 0px 0px 3px 0px !important;
}
.tab-item {
  font-family: "robotomedium";
}
.tab-item .icon {
  font-size: 24px;
}
.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
  font-size: 13px;
}

.button {
  padding: 0 20px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 58px;
  font-family: "robotomedium";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.bar .button.button-clear {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 17px;
  font-family: "robotoregular";
  letter-spacing: normal;
  text-transform: none;
}
.bar .button.button-clear i {
  padding-right: 3px;
}
.bar .buttons-right .button.button-icon .icon:before, .bar .buttons-right .button.button-icon:before, .bar .buttons-right .button.button-icon.icon-left:before, .bar .buttons-right .button.button-icon.icon-right:before {
  font-size: 23px;
}
/*
.bar.bar-footer .button {
  padding: 0 20px;
  min-width: 52px;
  min-height: 47px;
  border-width: 0px;
  font-size: 12px;
  line-height: 47px;
  font-family: "robotomedium";
  letter-spacing: 2px;
  text-transform: uppercase;
}
*/

.bar.bar-footer .row,
.bar.bar-footer .col {
  padding: 0;
}
.bar.bar-footer .button {
  padding: 0 8px;
  border-radius: 0px;
  font-size: 14px;
  line-height: 32px;
  font-family: "robotomedium";
  letter-spacing: normal;
  text-transform: none;
}

.button.button-block, .button.button-full {
    margin-top: 15px;
    margin-bottom: 15px;
}
.item-input-wrapper {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 15px;
}
.item-input-wrapper:last-child {
  margin-bottom: 0px;
}
.row .item-input-wrapper:last-child {
  margin-bottom: 15px;
}
.bar-footer .item-input-wrapper {
  margin-bottom: 0px;
}
.lrg-header-footer .item-input-wrapper {
  height: 46px;
}
.lrg-header-footer .has-footer {
  bottom: 68px;
}
.lrg-header-footer .bar-footer {
  height: 68px;
}
.has-subheader {
  top: 96px;
}
.popup-head {
  border-bottom: 1px solid #ddd;
}
.popup-title {
  font-size: 16px;
}
.medium-logo {
  margin: 0px 10px 10px 10px;
  text-align: center;
}
.medium-logo img {
  max-width: 170px;
}
.small-logo {
  margin: 0px 10px 10px 10px;
  text-align: center;
}
.small-logo img {
  max-width: 150px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  height: 34px;
  color: #111;
  font-size: 14px;
  line-height: 17px;
}
textarea.rows3 {
    height: 58px;
}
.item-input-wrapper input {
  background: transparent;
  line-height: 50px;
  height: 50px;
  font-size: 14px;
  padding: 0px 5px;
}
.input-label {
    color: #d73425;
    font-size: 14px;
}

/* Popovers */
.popover {
  position: absolute;
  z-index: 10;
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  height: 152px;
  width: 70%;
  opacity: 0;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: none;
  z-index: 500;
}
.popover .scroll-content {
    margin: 0;
    padding: 0;
}

/* Nifty Modal */
.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height: 300px !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
}
.ion-nifty-modal.list-2-items {
  height: 240px !important;
}
.ion-nifty-modal .overlay {
  background: rgba(0, 0, 0, 0.10); 
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
}

.ion-nifty-modal a {
  color: #fff !important;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; }
}

/* Banners */
.top-banner {
  width: 100%;
  height: 250px;
  display: table;
  background-repeat: no-repeat; 
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-banner .inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.top-banner .inner div {
  background: rgba(255, 255, 255, 0.8); 
  padding: 35px;
  display: inline-block;
  max-width: 80%;
}
.top-banner .inner h1 {
  font-size: 18px;
  font-family: "robotoregular";
  line-height: 24px;
  margin-bottom: 15px;
}
.top-banner .inner h2 {
  font-size: 16px;
  font-family: "robotobold";
  margin-bottom: 0px;
}
.top-banner .overlay {
  background: rgba(64, 64, 65, 0.17); 
  width: 100%;
  height:100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.top-banner.accident-assist {background-image: url(../img/banners/accident-assist.jpg)}
.top-banner.chat-messages {background-image: url(../img/banners/chat-messages.jpg)}
.top-banner.personal {background-image: url(../img/banners/personal.jpg)}
.top-banner.about {background-image: url(../img/banners/about.jpg)}
.top-banner.policy {background-image: url(../img/banners/policy.jpg)}
.top-banner.policy {
  height: calc(100% - 47px);
  display: block;
}
.top-banner.policy .inner {
  position: absolute;
  margin-top: 50px;
}
.list.policy {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (    min-device-pixel-ratio: 2),
only screen and (     min-resolution: 192dpi),
only screen and (       min-resolution: 2dppx) {
  .top-banner.accident-assist {background-image: url(../img/banners/accident-assist@2x.jpg)}
  .top-banner.chat-messages {background-image: url(../img/banners/chat-messages@2x.jpg)}
  .top-banner.personal {background-image: url(../img/banners/personal@2x.jpg)}
  .top-banner.about {background-image: url(../img/banners/about@2x.jpg)}
  .top-banner.policy {background-image: url(../img/banners/policy@2x.jpg)}
}


/* Sliders */
.slider-slide .overlay {
  background: rgba(0, 0, 0, 0.10); 
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.slider-slide .banner-box {
  width: 100%;
  height:100%;
  background-repeat: no-repeat; 
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-slide .banner-box.first {background-image: url(../img/banners/home-slider-1.jpg)}
.slider-slide .banner-box.second {background-image: url(../img/banners/home-slider-2.jpg)}
.slider-slide .banner-box.third {background-image: url(../img/banners/home-slider-3.jpg)}
.slider-slide .banner-box.fourth {background-image: url(../img/banners/home-slider-4.jpg)}
.slider-slide .banner-box.fifth {background-image: url(../img/banners/home-slider-5.jpg)}
.slider-slide .banner-box-personal {
  width: 100%;
  height: 230px;
  background: #4f5252;
  text-align: center;
}
.slider-slide .banner-box-personal .inner {
  padding: 20px;
  height: 100%;
}
.slider-slide .banner-box-personal .inner-box {
  padding: 25px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "robotolight";
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.slider-slide .banner-box-personal .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.slider-slide .banner-box-personal h1 {
  font-family: "robotolight";
  font-size: 24px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
}
.slider-slide .banner-box-personal p {
  font-family: "robotoregular";
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 0px;
}
.slider-walkthrough { 
  height: 100%; 
  text-align: center;
}

[class^="walkthrough-"],
[class*=" walkthrough-"] {
  background-repeat: no-repeat; 
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px;
  height: 100%; 
}

.myBanner {
  position: absolute;
  width: 100%;
    left: 0;
  padding: 10px;  
}

.slider-walkthrough .walkthrough-1 {background-image: url(../img/walkthrough/walkthrough-1.jpg)}
.slider-walkthrough .walkthrough-1 .button-wrapper {
  bottom: 30px;
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 10px;
}
.slider-walkthrough .walkthrough-1 .button-wrapper .col {
  padding: 12px;
}
.slider-walkthrough .walkthrough-1 .text-wrapper {
  bottom: 25px;
  position: absolute;
  width: 100%;
  left: 0px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.slider-walkthrough .walkthrough-1 .text-wrapper a {
  color: #333;
}
.slider-walkthrough .walkthrough-2 {background-image: url(../img/walkthrough/walkthrough-2.jpg)}
.slider-walkthrough .walkthrough-2 .button-wrapper {
  bottom: 30px;
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 10px;
}
.slider-walkthrough .walkthrough-2 .button-wrapper .col {
  padding: 12px;
}
.slider-walkthrough .walkthrough-2 .text-wrapper {
  bottom: 25px;
  position: absolute;
  width: 100%;
  left: 0px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.slider-walkthrough .walkthrough-2 .text-wrapper a {
  color: #fff;
}
.slider-walkthrough .walkthrough-3 {background-image: url(../img/walkthrough/walkthrough-3.jpg)}
.slider-walkthrough .walkthrough-3 .button-wrapper {
  bottom: 0px;
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0px 0px 10px 0px;
  background: #fff;
}
.slider-walkthrough .walkthrough-3 .button-wrapper .col {
  padding: 12px;
}
.slider-walkthrough .walkthrough-3 .text-wrapper {
  text-align: center;
  font-size: 14px;
}
.slider-walkthrough .walkthrough-3 .text-wrapper a {
  color: #d73425;
}
.slider-walkthrough .slider-pager {
  bottom: 170px;
}
.slider-walkthrough .slider-pager .slider-pager-page {
  color: #fff;
}
.scroll { 
    height: 100% 
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (    min-device-pixel-ratio: 2),
only screen and (     min-resolution: 192dpi),
only screen and (       min-resolution: 2dppx) {
  .slider-slide .banner-box.first {background-image: url(../img/banners/home-slider-1@2x.jpg)}
  .slider-slide .banner-box.second {background-image: url(../img/banners/home-slider-2@2x.jpg)}
  .slider-slide .banner-box.third {background-image: url(../img/banners/home-slider-3@2x.jpg)}
  .slider-slide .banner-box.fourth {background-image: url(../img/banners/home-slider-4@2x.jpg)}
  .slider-slide .banner-box.fifth {background-image: url(../img/banners/home-slider-5@2x.jpg)}
  .slider-walkthrough .walkthrough-1 {background-image: url(../img/walkthrough/walkthrough-1@2x.jpg)}
  .slider-walkthrough .walkthrough-2 {background-image: url(../img/walkthrough/walkthrough-2@2x.jpg)}
  .slider-walkthrough .walkthrough-3 {background-image: url(../img/walkthrough/walkthrough-3@2x.jpg)}
}

/* Background */
.pane, .view {
    background-color: #eee;
}

/* Primary Colour Theme */
.colour-primary, a.colour-primary, .item a {
  color: #505153;
}
.colour-primary-bg {
  background-color: #505153;
  color: #FFF;
}
.colour-primary-border {
  border-color: #505153;
}
.bar.bar-colour-primary {
  border-color: #505153;
  background-color: #505153;
  background-image: linear-gradient(0deg, #505153, #505153 50%, transparent 50%);
  color: #FFF;
}
.bar.bar-colour-primary .title {
  color: #FFF;
  font-family: "robotobold";
}
.bar.bar-colour-primary.bar-footer {
  background-image: linear-gradient(180deg, #505153, #505153 50%, transparent 50%);
}
.button.button-colour-primary {
  border-color: #505153;
  background-color: #505153;
  color: #fff;
}
.button.button-colour-primary:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-colour-primary.active,
.button.button-colour-primary.activated {
  border-color: #505153;
  background-color: #505153;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.button.button-colour-primary.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #505153;
}
.button.button-colour-primary.button-icon {
  border-color: transparent;
  background: none;
}
.button.button-colour-primary.button-outline {
  border-color: #505153;
  background: transparent;
  color: #505153;
}
.button.button-colour-primary.button-outline.active,
.button.button-colour-primary.button-outline.activated {
  background-color: #505153;
  box-shadow: none;
  color: #fff;
}
.tabs-striped.tabs-color-primary .tab-item.tab-item-active, .tabs-striped.tabs-color-primary .tab-item.active, .tabs-striped.tabs-color-primary .tab-item.activated {
  color: #505153;
  border: 0 solid #D73425;
}
.tabs-striped.tabs-color-primary .tab-item {
    color: #bbb;
}

/* Secondary Colour Theme */
.colour-secondary, a.colour-secondary, a, .item a i.icon {
  color: #d73425;
}
.colour-secondary-bg {
  background-color: #d73425;
  color: #FFF;
}
.colour-secondary-border {
  border-color: #d73425;
}
.bar.bar-colour-secondary {
  border-color: #d73425;
  background-color: #d73425;
  background-image: linear-gradient(0deg, #d73425, #d73425 50%, transparent 50%);
  color: #FFF;
}
.bar.bar-colour-secondary .title {
  color: #FFF;
}
.bar.bar-colour-secondary.bar-footer {
  background-image: linear-gradient(180deg, #d73425, #d73425 50%, transparent 50%);
}
.button.button-colour-secondary {
  border-color: #d73425;
  background-color: #d73425;
  color: #fff;
}
.button.button-colour-secondary:hover {
  color: #fff;
  text-decoration: none;
}
.button.button-colour-secondary.active,
.button.button-colour-secondary.activated {
  border-color: #d73425;
  background-color: #d73425;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.button.button-colour-secondary.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
}
.button.button-colour-secondary.button-icon {
  border-color: transparent;
  background: none;
}
.button.button-colour-secondary.button-outline {
  border-color: #d73425;
  background: transparent;
  color: #d73425;
}
.button.button-colour-secondary.button-outline.active,
.button.button-colour-secondary.button-outline.activated {
  background-color: #d73425;
  box-shadow: none;
  color: #fff;
}
.button.button-colour-secondary.button-reverse {
  border-color: #d73425;
  background: #fff;
  color: #d73425;
}
.button.button-colour-secondary.button-reverse.active,
.button.button-colour-secondary.button-reverse.activated {
  background-color: #505153;
  box-shadow: none;
  color: #fff;
}
.tabs .tab-item .badge.badge-colour-secondary, .badge.badge-colour-secondary {
    background-color: #D83D2F;
    color: #FFF;
}
.tabs-striped.tabs-colour-secondary .tab-item.tab-item-active, .tabs-striped.tabs-colour-secondary .tab-item.active, .tabs-striped.tabs-colour-secondary .tab-item.activated {
    margin-top: -2px;
    color: #ef473a;
    border: 0 solid #D83D2F;
    border-top-width: 2px;
}
.tabs-striped.tabs-colour-secondary .tab-item {
  color: rgba(80,81,83,0.4);
  opacity: 1;  
  border: 0 solid #EEEEEE;
  border-top-width: 1px;
  background: #fff;
}
.tabs-secondary > .tabs,
.tabs.tabs-secondary {
  border-color: #D83D2F;
  background-color: #D83D2F;
  background-image: linear-gradient(0deg, #D83D2F, #D83D2F 50%, transparent 50%);
  color: #fff;
}
.tabs-secondary > .tabs .tab-item .badge,
.tabs.tabs-secondary .tab-item .badge {
  background-color: #fff;
  color: #D83D2F;
}
.tabs-background-secondary .tabs,
.tabs-background-secondary > .tabs {
  background-color: #D83D2F;
  background-image: linear-gradient(0deg, #D83D2F, #D83D2F 50%, transparent 50%);
  border-color: #D83D2F;
}
.spinner {
  stroke: #D83D2F;
  fill: #D83D2F;
}
.toggle.toggle-assertive input:checked + .track {
  border-color: #D83D2F;
  background-color: #D83D2F;
}

/* List */
.item {
  border-color: #F5F5F5;
  padding: 18px;
  font-size: 14px;
}
.item-input {
  padding: 6px 0px 6px 15px;
  font-size: 14px;
}
.item-stacked-label .input-label, .item-stacked-label .icon {
  color: #d73425;
  font-size: 14px;
}
.item-stacked-label.item-icon-right .input {
  width: calc(100% - 60px);
}
.item-stacked-label.item-icon-right .icon {
    right: 24px;
}
.item-stacked-label.item-icon-right i{
    color: #D83D2F;
    font-size: 24px;
    margin-top: 24px;
}

.item .badge {
  top: 30px;
  right: 32px;
}
.item-divider {
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
}
.item h2 {
  font-family: 'robotobold';
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 2px;
}
.personal .item h2 {
  font-family: 'robotomedium';
  text-transform: none;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.item h2.has-date {
  float: left;
  max-width: 72%;
}
.item .chat-date {
  font-family: 'robotobold';
  color: #333;
  font-size: 12px;
  float: right;
  text-align: right;
}
.item .chat-date i {
  vertical-align: text-bottom;
  padding-right: 5px;
}
.item p {
  color: #b2b2b2;
  font-size: 14px;
}
.item p a {
  color: #b2b2b2;
  text-decoration: none;
}
.item.button {
  width: 100%;
  padding: 10px;
}
.item.button .button {
  margin: 0px;
}
.item.item-bolded {
  color: #505153 !important;
  padding: 25px;
  font-family: 'robotobold';
  text-transform: uppercase;
  font-size: 14px;
}
.item-icon-left {
  padding-left: 95px !important;
}
.item-icon-right .icon {
  color: #ababab;
  font-size: 20px;
}
.item-icon-right .icon.icon-1 {
  right: 111px;
}
.item-icon-right .icon.icon-2 {
  right: 61px;
}
.item-icon-left .icon:first-child {
  left: 35px;
  font-size: 34px;
  color: #d73425;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated,
a.item:hover,
a.item:focus,
a.item-icon-left:hover .icon,
a.item-icon-left:focus .icon {
  background-color: #ddd;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
  max-width: 70px;
  max-height: 70px;
  top: 20px;
  left: 20px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
  padding-left: 110px;
  min-height: 110px;
}

/* Menu */
.menu .item,
.ion-nifty-modal .item {
  border: none;
  background-color: transparent;
  color: #FFF !important;
  font-size: 14px;
  margin: 0px !important;
  padding: 0px !important;  
  font-family: "robotoregular";
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu .item:last-child,
.ion-nifty-modal .item:last-child {
  border-bottom: none !important;
}
.menu .item-complex .item-content,
.ion-nifty-modal .item-complex .item-content {
  padding: 20px 0px 20px 55px;
  background-color: transparent;
}
.menu .item a {
  color: #fff;
}
.menu .item-icon-left .icon,
.ion-nifty-modal .item-icon-left .icon {
  font-size: 28px;
  color: #FFF !important;
  left: 0px;
}
.menu .item-icon-right .icon:last-child,
.ion-nifty-modal .item-icon-right .icon:last-child {
  font-size: 18px;
  color: #FFF !important;
  right: 0px;
}
.menu .bar-header button, 
.ion-nifty-modal .bar-header button {
  font-size: 28px !important; 
  height: 50px;
  line-height: 28px;
  padding-right: 12px !important;
  padding-left: 12px !important;
  color: #FFF !important;
  margin-top: 5px;
}
.menu .bar-header button.close i, 
.ion-nifty-modal .bar-header button.close i {
  font-size: 21px !important;
}
.ion-nifty-modal .bar .title {
  line-height: 80px;
  height: 80px;
  text-transform: uppercase;
}
.menu .bar-footer, .menu .bar-header, 
.ion-nifty-modal .bar-footer, .ion-nifty-modal .bar-header {
  height: 60px;
}
.menu .has-header, 
.ion-nifty-modal .has-header {
  top: 60px;
}
.menu .has-footer, 
.ion-nifty-modal .has-footer {
  bottom: 60px;
}
.menu .bar-footer div, 
.ion-nifty-modal .bar-footer div {
  font-size: 13px !important;
}
.panic .bar .button.button-clear .icon:before, .panic .bar .button.button-clear.icon:before, .panic .bar .button.button-clear.icon-left:before, .panic .bar .button.button-clear.icon-right:before,
 .ion-nifty-modal .bar .button.button-clear .icon:before, .ion-nifty-modal .bar .button.button-clear.icon:before, .ion-nifty-modal .bar .button.button-clear.icon-left:before, .ion-nifty-modal .bar .button.button-clear.icon-right:before{
  font-size: 21px !important;
  line-height: 21px;
}
.menu.panic {
  width: 100%;
}
.panic .item-avatar {
  min-height: 116px;
  background: rgba(255, 255, 255, 0.95);
}
.panic .item-avatar > img:first-child {
  float: left;
  margin-right: 40px;
  position: relative;
}
.panic .item h2 {
  font-family: 'robotomedium';
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 36px;
}

/* Home */

.home-container {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
   height: 100%;
}
.home-container > .row {
   -webkit-flex: 1;
   padding: 0px;
   margin-top: 0px;
}
.home-container .col {
     padding: 0px;
}
.home-container .header {
     -webkit-flex: 1.6 !important;
     -webkit-align-items: center;
     position: relative;
} 
.home-container .header .col {
     position: absolute;
     height: 100%;
} 
.home-container .header .slider {
    height: 100%;
}
.home-container .icon-row {
     -webkit-align-items: center;
}
.home-container .icon-row .col:first-child {
    padding: 0px 5px 0px 10px;
}
.home-container .icon-row .col:nth-child(2) {
    padding: 0px 5px 0px 5px;
}
.home-container .icon-row .col:last-child {
    padding: 0px 10px 0px 5px;
}
.home-container .home-icons i {
  padding: 20px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #dddddd;
  color: #D73425;
  font-size: 40px;
}
.home-container .home-icons i:hover {
  background-color: #D73425;
  border: 1px solid #D73425;
  color: #fff;
}
.home-container .home-icons div {
  margin-top: 12px;
  line-height: 13px;
  font-size: 12px;
}
.home-container .footer {
     -webkit-flex: 1.3 !important;
     -webkit-align-items: center;
}
.total-care-bkg {
  background: url(../img/TotalCare.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.twenty-four-btn {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 45%;
  width: 45%;
  background-color: rgba(17,17,17,0.05);
  margin: auto;
  margin-top: 16px;
  margin-bottom: 0px;
  border-radius: 50%;
}
.twenty-four-btn-inner {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 50%;
}
.twenty-four-btn-wrapper {
  display: table;
  width: 99%;
  height: 99%;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin: 1%;
  padding: 4%;
}
.twenty-four-btn-content {
  display: table-cell;
  padding: 0.5em;
  vertical-align: middle;
  border-radius: 50%;
  background: rgb(222, 54, 33);
  background: -moz-linear-gradient(90deg, rgb(222, 54, 33) 0%, rgb(199, 23, 29) 100%);
  background: -webkit-linear-gradient(90deg, rgb(222, 54, 33) 0%, rgb(199, 23, 29) 100%);
  background: -o-linear-gradient(90deg, rgb(222, 54, 33) 0%, rgb(199, 23, 29) 100%);
  background: -ms-linear-gradient(90deg, rgb(222, 54, 33) 0%, rgb(199, 23, 29) 100%);
  background: linear-gradient(180deg, rgb(222, 54, 33) 0%, rgb(199, 23, 29) 100%);
}
.twenty-four-btn-content:hover {
  background: #333;
}
.twenty-four-btn-content img {
    height: 98%;
    margin-top: 2%;
}
.twenty-four-icon {
  background-image: url(img/24-hour-button.png);
}

/* Panic */
.panic .bar {
    padding: 0px;
}
.panic .bar-header button {
  font-size: 28px !important; 
  height: 70px;
  line-height: 28px;
  padding-right: 12px !important;
  padding-left: 12px !important;
  color: #FFF !important;
  margin-top: 20px;
}
.panic .bar-header button.close {
  font-size: 21px !important;
}
.panic .bar-footer, .panic .bar-header {
  height: 64px;
}
.panic .bar.bar-footer .button  {
  padding: 0 12px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 52px;
  font-family: "robotomedium";
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.panic .button.button-block, .panic .button.button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}
.panic .has-header {
  top: 64px;
}
.panic .has-footer {
  bottom: 64px;
}
.panic .scroll {
  height: 100%;
}
.panic .bar .button.button-clear .icon:before, .panic .bar .button.button-clear.icon:before, .panic .bar .button.button-clear.icon-left:before, .panic .bar .button.button-clear.icon-right:before {
  font-size: 21px !important;
  line-height: 21px;
}

/* Chat */
.chat-avatar {
  margin: 0px;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
}
.chat-bubble-left {
  margin: 0px 0px 5px 10px;
  padding: 20px;
  display: inline-block;
  position: relative;
  max-width: calc(100% - 100px);
  height: auto;
  background-color: #fff;
  font-size: 14px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.chat-bubble-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -7px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 9px solid;
  border-color: #fff transparent transparent transparent;
}
.chat-bubble-left-series {
  margin: 0px 0px 5px 58px;
  padding: 20px;
  display: inline-block;
  position: relative;
  max-width: calc(100% - 100px);
  height: auto;
  background-color: #fff;
  font-size: 14px;
  border-radius: 7px;
}
.chat-time-left {
  width: 100%;
  padding: 5px 0px 10px 65px;
  font-size: 13px;
  color: #ababab;
  text-align: left;
  font-family: "robotomedium";
}
.chat-bubble-right {
  margin: 0px 0px 5px 0px;
  padding: 20px;
  display: inline-block;
  position: relative;
  max-width: calc(100% - 100px);
  height: auto;
  background-color: #ccc;
  font-size: 14px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  float: right;
}
.chat-bubble-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -7px;
  left: auto;
  top: 0px;
  bottom: auto;
  border: 9px solid;
  border-color: #ccc transparent transparent transparent;
}
.chat-bubble-right-series {
  margin: 0px 0px 5px 0px;
  padding: 20px;
  display: inline-block;
  position: relative;
  max-width: calc(100% - 100px);
  height: auto;
  background-color: #ccc;
  font-size: 14px;
  border-radius: 7px;
  float: right;
}
.chat-time-right {
  width: 100%;
  padding: 5px 10px 10px 0px;
  font-size: 13px;
  color: #ababab;
  text-align: right;
  font-family: "robotomedium";
}

/* Message */
.message-date {
  font-family: 'robotomedium';
  color: #ababab;
  font-size: 12px;
  margin-bottom: 10px;
  float: right;
  text-align: right;
}
.message-date i {
  vertical-align: text-bottom;
  padding-right: 5px;
}

/* About */
.angular-google-map-container { 
  height: 300px; 
}

/* Tutorial */
.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}
.progress {
  height: 4px;
  background-color: #D83D2F;
}
.tutorial {
  width: 100%;
}
.tutorial-image {
  position: absolute;
  max-height: 100%;
}
.tutorial-image:empty {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Loading */
.loading-screen {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
.loading-screen i {
  position: relative;
  top: 50%;
  font-size: 24px;
}
.spinner {
  position: relative;
  top: 50%;
  font-size: 24px;
}
.spinner-white {
  stroke: #fff !important;
  fill: #fff !important;
}

/** Added on 20160314/

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}
label.item.has-error {
  border-left: 2px solid red !important;
  border-right: 2px solid red !important;
}